# Technical Challenge ! Custiomers and Orders - The lifeblood of any business!

This notebook depends on two data files: customers.scv and orders.csv. These files are hosted in the cloud (or Github), so for simplicity, we are providing you with the code to download and save the two files in a folder called 'sample_data' which lives within this notebook session (not on your local computer nor Google Drive).

![sample_data folder in notebook session](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/sample_data_folder.png)

Please execute the first code snippet before moving to the rest of the exercise as this code will import the data from the files for you to be able to execute the rest of the exercise.

Remember as we said in the previous lecture, you have to save this notebook into your Google Drive by going to menu File/Save a Copy In Drive, or clicking in the button "Copy to Drive". This way, you will not lose any work you've done and the file will persist with your latest changes in your Google Drive. Also we recommend you to rename your .ipynb in your Google Drive, so you can easily find it in the future.

In [1]:
import requests

def import_data_files():
  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/customers.csv')
  with open('./sample_data/customers.csv', 'wb') as f:
    f.write(r.content)

  r = requests.get('https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv')
  with open('./sample_data/orders.csv', 'wb') as f:
    f.write(r.content)
  
import_data_files()
print("Customers and orders CSV files have been added './sample_data'")

Customers and orders CSV files have been added './sample_data'

# Exercise 1: Processing Customers data (difficulty medium)

The sample customer data in 'customers.csv' file has just 5 columns: CustomerId, First Name, Last Name, City and State

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/customers.png)

We strongly recommend that you complete from the [Prep Course: Intro to Python](https://colab.research.google.com/github/anyoneai/notebooks/blob/main/python3_crash_course.ipynb) the following section:
- Section 7: File I/O (to understand how to read CSV file) 
- Section 6: For Loop (to navigate the contents of the CSV file)
- Section 5: Tuples, Lists, and Dictionaries (to manipulate the data of the CSV file)

With this, we hope you can complete this exercise successfully. Although if you want to solve this with libraries or any other way, you are welcome to do it your way.

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://github.com/anyoneai/notebooks/blob/main/customers_and_orders/data/customers.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, keep in mind that data might not be clean and you might have to figure out how to deal with that data from the code, without having to modify the data source.

Below are the 5 questions you'll have to answer to pass the evaluation:

**Question 1:** How many customers are in the file?
(as help, we have added some comments and starter code to help you structure the solution)

In [75]:
from os.path import exists
import csv
import pandas as pd

# check if file can be found and open the file
datafile = "./sample_data/customers.csv"
if not exists(datafile):
  raise SystemExit("You should run the first code cell and download the dataset files!")

# customers file is in the sample_data folder and can be opened.
# Using csv reader is one way of dealing with the file 
# but it's up to you how you want to proceed
clients_frame = pd.read_csv('./sample_data/customers.csv')
print(clients_frame.shape)
clients_frame = clients_frame.drop_duplicates()
print(clients_frame.shape)
# there doesn't seem to be duplicated customers , but there are duplicated customers ID,
# this could be the case if a company doesn't have a good consistency with the data
print(f'Unique clients ID in the csv: {len(clients_frame.CustomerID.unique())}')
print("All done!")

(602, 5)
(602, 5)
Unique clients ID in the csv: 471
All done!

**Question 2:** In how many different states do the customers live in?

In [70]:
#viz the data to get a better undertanding 
print(clients_frame['State'].unique())
#there are states with error:'CA' is the same as 'CA           ' is the same as 'Ca'
#so, lets transform the data to the correct format
states = clients_frame['State'].str.strip().str.upper()
clients_frame['State'] = states
print(clients_frame['State'].unique())
#data ready to get get the information required
print(f'Number of different states: {len(clients_frame.State.unique())}')

['CA' 'AZ' 'NV' 'FL' 'CA           ' 'WA' 'NH' 'ID' 'CO' 'Ca' 'TX' 'NM'
 'OR' 'UT' 'MA' 'IN']
['CA' 'AZ' 'NV' 'FL' 'WA' 'NH' 'ID' 'CO' 'TX' 'NM' 'OR' 'UT' 'MA' 'IN']
Number of different states: 14

**Question 3** What is the state with most customers?

In [71]:
#Data viz to get a better undestanding
print(clients_frame.groupby('State').count().sort_values('CustomerID',ascending=False))
#print the state with max number of customers
print(clients_frame.groupby('State').count().idxmax())

       CustomerID  FirstName  LastName  City
State
CA            569        569       569   569
NV              8          8         8     8
AZ              6          6         6     6
CO              3          3         3     3
FL              3          3         3     3
NM              3          3         3     3
TX              2          2         2     2
UT              2          2         2     2
ID              1          1         1     1
IN              1          1         1     1
MA              1          1         1     1
NH              1          1         1     1
OR              1          1         1     1
WA              1          1         1     1
CustomerID    CA
FirstName     CA
LastName      CA
City          CA
dtype: object

**Question 4** What is the state with the least customers?

In [67]:
#Data viz to get a better undestanding
print(clients_frame.groupby('State').count().sort_values('CustomerID'))
#Thank to this, we can see that there are 6 states with just 1 customer

#print the state with min number of customers
print(clients_frame.groupby('State').count().idxmin())

       CustomerID  FirstName  LastName  City
State
ID              1          1         1     1
IN              1          1         1     1
MA              1          1         1     1
NH              1          1         1     1
OR              1          1         1     1
WA              1          1         1     1
TX              2          2         2     2
UT              2          2         2     2
CO              3          3         3     3
FL              3          3         3     3
NM              3          3         3     3
AZ              6          6         6     6
NV              8          8         8     8
CA            569        569       569   569
CustomerID    ID
FirstName     ID
LastName      ID
City          ID
dtype: object

**Question 5:** What is the most common last name?

In [68]:
#Data vizu to get a better undestanding
print(clients_frame.groupby('LastName').count().sort_values('CustomerID',ascending=False))

#print the most common last name 
print(clients_frame.groupby('LastName').count().idxmax())

           CustomerID  FirstName  City  State
LastName
Smith               8          8     8      8
Doggett             5          5     5      5
Zambrana            5          5     5      5
Gomez               5          5     5      5
Johnson             4          4     4      4
...               ...        ...   ...    ...
Maye                1          1     1      1
DePland             1          1     1      1
Mathewson           1          1     1      1
Mather              1          1     1      1
Oquinn              1          1     1      1

[424 rows x 4 columns]
CustomerID    Smith
FirstName     Smith
City          Smith
State         Smith
dtype: object

# Exercise 2: Processing Orders data (difficulty high)

The second sample files contains orders placed by customers from the first file. Be careful, this file has many rows and you most likely should not print the contents of the whole file. 

The file contains the following columns: CustomerID, OrderID, Date, OrderTotal, ProductName, Price

![Data sample](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/images/orders.png)

*Hint:* We advise you to take a look at the data before you start.
**if you want to manually take a look at the data before you start, please see the content of the data [here](https://raw.githubusercontent.com/anyoneai/notebooks/main/customers_and_orders/data/orders.csv).

*Hint*: There are many ways to do this exercise you can do your own, although here's some help. You can solve this exercise reading and parsing CSV files, structuring data into dictionaries, and using for loops to navigate the contents

*Hint*: Also, the data is not clean and you will have to figure out how to deal with that data from the code, without having to modify the data source.



**Question #1:** How many unique orders are in the orders.csv file?

**Question #2:** What is the average number of items per order (rounded to two decimal places)?

**Question #3:** What is the highest number of items per order?

**Question #4:** What is the number of orders placed in October 2021?

**Question #5:** Which customer spent the most amount of money in 2021?

**Question #6:** Historically, what is the best month for sales?

Once you get your answers, remember to go back to the course and introduce them in the multiple choice quiz

In [77]:
# open and evaluate orders.csv
orders_frame = pd.read_csv('./sample_data/orders.csv')
orders_frame.head()

   CustomerID  OrderID                     Date  OrderTotal ProductName  Price
0        8091  7742581  2021-07-26 14:40:10.783        95.0         Z03   90.0
1      902139  7742778  2021-08-08 05:01:21.120        60.0    0844 A/C   60.0
2     2300266  7742593  2021-07-27 11:00:16.020       185.0         M07   90.0
3     2300266  7742593  2021-07-27 11:00:16.020       185.0         M09   90.0
4     5173013  7742609  2021-07-28 14:26:13.930       165.0        0324  160.0

###Question #1: How many unique orders are in the orders.csv file?

In [85]:
unique_orders_total = len(orders_frame.OrderID.unique())
print(f'There are {unique_orders_total} uniques orders in the csv file')

There are 16672 uniques orders in the csv file

###Question #2: What is the average number of items per order (rounded to two decimal places)?

In [89]:
#we can get the avg number of item as follow: total orders (total items) / unique orders 
total_orders = orders_frame.shape[0] 
avg_item = (total_orders / unique_orders_total)
print( f'The average of items per order is {round(avg_item,2)}')

The average of items per order is 1.76

###Question #3: What is the highest number of items per order?

In [103]:
#Viz the data:
print(orders_frame.groupby('OrderID').count().sort_values('CustomerID',ascending=False).head())

#get the order id 
print(f"The highest number of items in a order was: {orders_frame.groupby('OrderID').count().sort_values('CustomerID',ascending=False).iloc[0,1]}")

         CustomerID  Date  OrderTotal  ProductName  Price
OrderID
5802666          35    35          35           35     35
7411097          30    30          30           30     30
7553706          30    30          30           30     30
7001632          30    30          30           30     30
7005266          28    28          28           28     28
The highest number of items in a order was: 35

###Question #4: What is the number of orders placed in October 2021?

In [121]:
#lets see how many missing values there are in the data frame
print(orders_frame.isna().sum())
#Feature Date is missing 2142 values, lets drop them from the dataframe to continue the question

new_orders_frame = orders_frame.dropna()
#and now lets see if there are missing values in the new data frame
print('\n')
print(+new_orders_frame.isna().sum())
#now that the data frame is clean from missing values, lets calculate the number of orders placed in october 2021


october_orders = new_orders_frame[new_orders_frame.Date.str.contains('2021-10')]
print(f'\nThe total numbers of orders placed in 2021 october were: {october_orders.shape[0]}')

CustomerID        0
OrderID           0
Date           2142
OrderTotal        0
ProductName       0
Price             0
dtype: int64


CustomerID     0
OrderID        0
Date           0
OrderTotal     0
ProductName    0
Price          0
dtype: int64

The total numbers of orders placed in 2021 october were: 437

###Question #5: Which customer spent the most amount of money in 2021?

In [140]:
# lets continue to use the data frame without missing dates
orders_2021 = new_orders_frame[new_orders_frame.Date.str.contains('2021')]
#viz the data frame
print(orders_2021.groupby('CustomerID')['OrderTotal','Price'].sum().sort_values('Price',ascending=False).head())

#get the customerID with most spent amount of money in 2021
print('\n')
print(orders_2021.groupby('CustomerID')['Price'].sum().idxmax())

            OrderTotal   Price
CustomerID
5172443        27990.0  7675.0
1907160        11220.0  5485.0
5464           56170.0  5470.0
5100984        13900.0  5225.0
4300438        15454.0  4960.0


5172443

<ipython-input-140-0fcf3ef050fb>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(orders_2021.groupby('CustomerID')['OrderTotal','Price'].sum().sort_values('Price',ascending=False).head())

###Question #6: Historically, what is the best month for sales?

In [154]:
import datetime
#lets use the data frame without missing dates

months = [datetime.datetime.strptime(date,'%Y-%m-%d %H:%M:%S.%f').month for date in new_orders_frame.Date]
new_orders_frame['Month'] = months

print(new_orders_frame.groupby('Month')['OrderTotal','Price'].sum().sort_values('Price',ascending=False))

       OrderTotal     Price
Month
1        858727.0  287515.0
11       745817.0  232065.0
10       597649.0  231305.0
2        831150.0  226005.0
6        753265.0  218700.0
5        798050.0  215685.0
9        747421.0  214075.0
8        575493.0  213608.0
12       510948.0  209475.0
4        560733.0  205135.0
3        556715.0  200660.0
7        585495.0  199040.0

<ipython-input-154-9e9160c95878>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_orders_frame['Month'] = months
<ipython-input-154-9e9160c95878>:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  print(new_orders_frame.groupby('Month')['OrderTotal','Price'].sum().sort_values('Price',ascending=False))

# Finished!

Hope this was not too difficult and slicing and dicing the datasets was some fun. Now head on back to the course and provide the answers to the questions from this exercise.